{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% extends 'membre/layout.html.twig' %}

{% block content %}
    <h1>Membre edition</h1>

    <div class="btn-group">
        <a href="{{ path('membre_index') }}">
            <i class="fa fa-reply"></i>Retour</a>
    </div>
    <div class="btn-group">
        {{ form_start(delete_form) }}
        <button class="btn btn-sm btn-danger" type="submit" value="Delete">
            <i class="fa fa-trash"></i>&nbsp;Supprimer</button>
        {{ form_end(delete_form) }}
    </div>


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-sm btn-success" type="submit">
            <i class="fa fa-save"></i>&nbsp;Modifier</button>
    {{ form_end(edit_form) }}

{% endblock %}
