{% extends 'membre/layout.html.twig' %}

{% block content %}

    <table class="table table-hover table-bordered table-striped datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Fonction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td><a href="{{ path('membre_show', { 'id': membre.id }) }}">{{ membre.id }}</a></td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.fonction }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-info" href="{{ path('membre_show', { 'id': membre.id }) }}" title="Aperçu">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-sm btn-warning" href="{{ path('membre_edit', { 'id': membre.id }) }}" title="Modifier">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-success" href="{{ path('membre_new') }}" title="Créer">
        <i class="fa fa-plus"></i>
        Créer nouveau membre
    </a>

{% endblock %}
