{% trans_default_domain 'FOSUserBundle' %}

<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

            {% if error %}
                <div class="red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <span class="login100-form-title p-b-26">
						Bienvenue
					</span>

                <form action="{{ path("fos_user_security_check") }}" method="post" class="login100-form validate-form">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="wrap-input100 validate-input">
                        <input placeholder="Pseudo" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input placeholder="Mot de passe" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                    </div>

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="login100-form-btn">
                                Se connecter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



